
@{
    ViewData["Title"] = "Hospitals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
     
    <h2 class="typoh2">List of Hospitals</h2>
    <br/>
    <div class="pull-right">
        <button class="btn btn-primary">Add New</button>
    </div>
    <div class="bs-docs-example">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Hospital Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Disease Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Abc Hospital</td>
                <td>Magusa, salamis</td>
                <td>Well known for heart Surgery</td>
                <td>Cold</td>
                <td><button class="btn btn-primary">Edit</button> 
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>     
            
            <tr>
                <td>2</td>
                <td>Abc Hospital</td>
                <td>Magusa, salamis</td>
                <td>Well known for heart Surgery</td>
                <td>Cold</td>
                <td><button class="btn btn-primary">Edit</button> 
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>    
        
            </tbody>
        </table>
    </div>
    <hr class="bs-docs-separator">
</div>