
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
     
    <h2 class="typoh2">List of Orders</h2>
    <br/>
    
    <div class="bs-docs-example">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Product Ordered</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Date/Time</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">1</a> </td>
                <td><a href="#">Mango</a>  </td>
                <td>Aminu </td>
                <td>Eastern Mediteranean University</td>
                <td>27-DEC-19 11:49pm</td>
                <td>Pending</td>
                <td><button class="btn btn-primary">Confirm</button> 
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>     
            <tr>
                <td><a href="#">1</a> </td>
                <td><a href="#">Mango</a>  </td>
                <td>Aminu </td>
                <td>Eastern Mediteranean University</td>
                <td>27-DEC-19 11:49pm</td>
                <td>Pending</td>
                <td><button class="btn btn-primary">Confirm</button> 
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>     
                 
            </tbody>
        </table>
    </div>
    <hr class="bs-docs-separator">
</div>