
@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <br/>
        <h2>ProductAdd</h2>
        <br/>

        <form class="container">
            <div class="form-group">
                <label for="exampleInputFile">Upload Image</label>
                <input type="file" id="exampleInputFile">
            </div>
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Fruit Name</label>
                    </div>

                    <div class="col-md-6">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Fruit Description</label>
                    </div>

                    <div class="col-md-6">
                        <textarea class="form-control" id="exampleInputPassword1" ></textarea>
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Fruit Feature</label>
                    </div>

                    <div class="col-md-6">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Primary Care</label>
                    </div>

                    <div class="col-md-6">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Secondary Care</label>
                    </div>

                    <div class="col-md-6">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Cost</label>
                    </div>

                    <div class="col-md-6">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>


            <button type="submit" style="margin: 15px" class=" btn btn-primary pull-right">Submit</button>
        </form>
        

    </div>

