@model LoginVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- login -->
<div class="w3_login">
    <h3>Sign In & Sign Up</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div> </div>
            <div class="form">
                <h2>Login to your account</h2>
                <div style="color:red; margin:10px" asp-validation-summary="All"></div>
                <form asp-controller="Authentication" asp-action="Login" method="post">
                    <input type="text" asp-for="Email" placeholder="Username" required>
                    <input type="password" asp-for="Password" placeholder="Password" required>
                    <input type="checkbox" asp-for="RememberMe"> <p style="display: inline;">Remember Me</p>

                    <input type="hidden" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                    <input type="submit" style="margin-top:20px;" value="Login">
                </form>
            </div>


        </div>
    </div>
 
</div>
<!-- //login -->