
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
     
        <h2 class="typoh2">List of products</h2>
        <br/>
        <div class="pull-right">
            <button class="btn btn-primary">Add New</button>
        </div>
        <div class="bs-docs-example">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Cost</th>
                        <th>Description</th>
                        <th>Feature</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mango</td>
                        <td>Fruit</td>
                        <td>TL 150.00</td>
                        <td>Mango is commonly eaten as a fresh fruit</td>
                        <td>Mango trees are easy to maintain</td>
                        <td><button class="btn btn-primary">Edit</button> 
                            <button class="btn btn-danger">Delete</button>
                            </td>
                    </tr>         <tr>
                        <td>1</td>
                        <td>Apply</td>
                        <td>Fruit</td>
                        <td>TL 150.00</td>
                        <td>Mango is commonly eaten as a fresh fruit</td>
                        <td>Mango trees are easy to maintain</td>
                        <td><button class="btn btn-primary">Edit</button> 
                            <button class="btn btn-danger">Delete</button>
                            </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
        <hr class="bs-docs-separator">
    </div>