@model HerbsStore.Libraries.HS.Services.ProductServices.ProductCrudVm
@{
    ViewData["Title"] = "ProductEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-center" style="background-color: #f5f5f5; padding:30px">

    <br />
    <h2>Edit Product</h2>
    <br />


    <form class="container" method="post" asp-controller="Administration" asp-action="ProductEdit" id="addForm" enctype="multipart/form-data">

        <div style="color:red;" asp-validation-summary="All"></div>
        <img id="ImagePlaceholder" src="@Model.ImageUrl" height="100" /><br /><br />

        <input type="hidden" asp-for="Id"/>
        <div class="mt-4">
            <input type="file" name="files" id="ImageInput" class="custom-input-file custom-input-file--2" accept="image/*" />
            <label for="ImageInput">
                <i class="fa fa-upload"></i>
                <span id="fileNameId">Choose a file</span>
            </label>
        </div>




        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Name</label>
                </div>

                <div class="col-md-5">
                    <input type="text" asp-for="ProductName" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Description</label>
                </div>

                <div class="col-md-5">
                    <textarea asp-for="ProductDescription" class="form-control"></textarea>
                </div>
            </div>
        </div>


        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Type</label>
                </div>

                <div class="col-md-5">
                    <select asp-for="ProductType" asp-items="_dropdown.ProductsTypes()" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Product Feature</label>
                </div>

                <div class="col-md-5">
                    <input type="text" asp-for="ProductFeature" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Primary Care </label>
                </div>

                <div class="col-md-5">
                    <input type="text" asp-for="PrimaryCare" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Secondary Care</label>
                </div>

                <div class="col-md-5">
                    <input type="text" asp-for="SecoundaryCare" class="form-control">
                </div>
            </div>
        </div>


        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Price</label>
                </div>

                <div class="col-md-5">
                    <input type="number" asp-for="Price" value="@Model.Price" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Old Price</label>
                </div>

                <div class="col-md-5">
                    <input type="number" asp-for="OldPrice" value="@Model.OldPrice" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label>Disease Types (Multi-select) </label>
                </div>

                <div class="col-md-5">
                    <select  asp-for="DiseaseListIds" asp-items="_dropdown.GetDisease()" multiple="multiple" class="form-control">
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" style="margin: 15px" class=" btn btn-primary  text-center">Update Product information</button>
    </form>


</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                if (input.files[0].size > 3145728) {
                    $('#ImagePlaceholder').attr('src', '@Model.ImageUrl');
                }
                else
                    $('#ImagePlaceholder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#ImageInput").change(function () {
        readURL(this); //resolveUploadFields(true);
        if (this.files[0].size > 3145728) {
            alert("file size too big, please upload something less than 3 Mb");
            document.getElementById("ImageInput").value = "";
        }
    });




</script>
